.product-container-new-layout {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;
}

.product-container-new-layout .front-product,
.product-container-new-layout .back-product {
  border: 1px solid black;
  width: 25vw;
}
/* .product-container-new-layout .back-product {
    height: fit-content;
} */
.product-container-new-layout .front-product .product-image,
.product-container-new-layout .back-product .product-image {
  width: 100%;
  height: 30vw;
  overflow: hidden;
  display: flex;
}
.product-container-new-layout .front-product .product-image img,
.product-container-new-layout .back-product .product-image img {
  width: 100%;
  height: auto;
}

.product-container-new-layout .front-product .product-description p {
  text-align: justify;
  margin: 2rem;
  font-family: "Roboto", sans-serif;
}

.product-container-new-layout .back-product .product-form {
  width: 100%;
}

.product-container-new-layout .back-product .product-form h3 {
  width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.product-container-new-layout .back-product .product-form h4 {
  margin: 0;
  font-family: "Roboto", sans-serif;

}
.product-container-new-layout .back-product .product-form .text {
  color: gray;
  padding-top: 1rem;
  margin-bottom: 0.2rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;

}

.product-container-new-layout .back-product .product-form .button-cart-add,
.product-container-new-layout .back-product .product-form .button-cart-size {
  margin-top: 1rem;
  width: 100%;
  border: 1.5px solid #80808051;
  padding-left: 3.1rem;
  padding-right: 3.1rem;
  border-radius: 5px;
}

.product-container-new-layout .back-product .product-form .button-cart-size {
  margin-bottom: 1rem;
  font-weight: bold;
  color: white;
  background-color: green;
}

@media only screen and (max-width: 1000px) {
    .product-container-new-layout { 
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .product-container-new-layout .front-product,
.product-container-new-layout .back-product { 
    width: 50vw;
}

/* .product-container-new-layout .front-product .product-image,
.product-container-new-layout .back-product .product-image{ 
    height: 35rem;
} */
}