.product-container-new-layout {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;
}

.product-container-new-layout .front-product,
.product-container-new-layout .back-product {
  border: 1px solid black;
  width: 30vw;
}

.product-container-new-layout .front-product .product-image,
.product-container-new-layout .back-product .product-image {
  width: 100%;
  overflow: hidden;
  display: flex;
}
.product-container-new-layout .front-product .product-image img,
.product-container-new-layout .back-product .product-image img {
  object-fit: fill;
}

.product-container-new-layout .front-product .product-description p {
  text-align: justify;
  margin: 0 1rem 1rem 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.product-container-new-layout .back-product .product-form {
  padding: 0 1rem;
  width: 100%;
}

.product-container-new-layout .back-product .product-form h3 {
  width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.product-container-new-layout .back-product .product-form h4 {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.product-container-new-layout .back-product .product-form .text {
  color: gray;
  padding-top: 1rem;
  margin-bottom: 0.2rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.product-container-new-layout .back-product .product-form .quaintity-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.product-container-new-layout .back-product .product-form .button-cart-add,
.product-container-new-layout .back-product .product-form .button-cart-size {
  margin-top: 1rem;
  width: 100%;
  border: 1.5px solid #80808051;
  padding-left: 3.1rem;
  padding-right: 3.1rem;
  border-radius: 5px;
}

.product-container-new-layout .back-product .product-form .button-cart-size {
  margin-bottom: 1rem;
  font-weight: bold;
  color: white;
  background-color: green;
}

@media only screen and (max-width: 1000px) {
  .product-container-new-layout {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .product-container-new-layout .front-product,
  .product-container-new-layout .back-product {
    width: 55vw;
  }

  .product-container-new-layout .front-product .product-description p {
    font-size: 2.5vw;
  }

  .product-container-new-layout .back-product .product-form h3 { 
    font-size: 4.5vw;
  }

  .product-container-new-layout .back-product .product-form h4 {
    font-size: 3.5vw;
  }
  .product-container-new-layout .back-product .product-form .button-cart-add,
.product-container-new-layout .back-product .product-form .button-cart-size {
  font-size: 3vw;
  padding: 0.2rem;
}
}
