.product-container-new-layout {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;
}

.product-container-new-layout .front-product,
.product-container-new-layout .back-product {
  border: 1px solid black;
  width: 30vw;
}

.product-container-new-layout .front-product .product-image,
.product-container-new-layout .back-product .product-image {
  width: 100%;
  overflow: hidden;
  display: flex;
}
.product-container-new-layout .front-product .product-image img,
.product-container-new-layout .back-product .product-image img {
  object-fit: fill;
}

.product-container-new-layout .front-product .product-description p {
  text-align: justify;
  margin: 0 1rem 1rem 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.3vw;
}

.product-container-new-layout .back-product .product-form {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-container-new-layout .back-product .product-form .details-purchase {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.product-container-new-layout .back-product .product-form h3 {
  width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.product-container-new-layout .back-product .product-form h4 {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.product-container-new-layout
  .back-product
  .product-form
  .details-purchase
  .text {
  color: gray;
  padding-top: 1rem;
  margin-bottom: 0.2rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

.product-container-new-layout
  .back-product
  .product-form
  .details-purchase
  .quaintity-container {
  display: flex;
  flex-direction: column;
}
.product-container-new-layout
  .back-product
  .product-form
  .details-purchase
  .quaintity-container
  #input-quantity {
  width: 35%;
}

.product-container-new-layout
  .back-product
  .product-form
  .details-purchase
  .button-cart-add,
.product-container-new-layout
  .back-product
  .product-form
  .details-purchase
  .button-cart-size {
  margin-top: 1rem;
  width: 100%;
  border: 1.5px solid #80808051;
  padding-left: 3.1rem;
  padding-right: 3.1rem;
  border-radius: 5px;
  /* align-self: center; */
}

.product-container-new-layout .back-product .product-form .button-cart-size {
  margin-bottom: 1rem;
  font-weight: bold;
  color: white;
  background-color: green;
}

@media only screen and (max-width: 1000px) {
  .product-container-new-layout {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .product-container-new-layout .front-product,
  .product-container-new-layout .back-product {
    width: 55vw;
  }

  .product-container-new-layout .front-product .product-description p {
    font-size: 2.5vw;
  }

  .product-container-new-layout
    .back-product
    .product-form
    .details-purchase
    .button-cart-add,
  .product-container-new-layout
    .back-product
    .product-form
    .details-purchase
    .button-cart-size {
    padding: 0.4rem;
  }
}

@media only screen and (max-width:450px) {
    .product-container-new-layout .front-product .product-description p {
    font-size: 2.5vw;
  }

  .product-container-new-layout .back-product .product-form h3 {
    font-size: 5vw;
  }

  .product-container-new-layout .back-product .product-form h4 {
    font-size: 4vw;
  }

  .product-container-new-layout
    .back-product
    .product-form
    .details-purchase
    .button-cart-add,
  .product-container-new-layout
    .back-product
    .product-form
    .details-purchase
    .button-cart-size {
    font-size: 4vw;
    padding: 0.2rem;
  }
}